.buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
    position: absolute;
    left: 70%;

}

.btn {
    width: 360px;
    height: 52px;
    font-family: "League Spartan", sans-serif;
    color: #fff;
    background-color: transparent;
    padding: 8px 16px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: solid #38384F 1px;
}

.btn:hover {
    background-color: #38384F;
    color: #fff;
    transition: all 0.1s ease-out;
    
}

.btn:focus {
    background-color: #419EBB;
}


@media (min-width: 318px) and (max-width: 425px) {
    .buttons {
        display: none;
    }

}