#menu-button {
    position: absolute;
    color: #fff;
    top: 15%;
    right: 10%;
    width: 50px;
    height: 50px;
    background-color: rgb(56, 56, 79);
    font-weight: 500;
    font-family: "Antonio", sans-serif;
    font-size: 1.25rem;
    border: 0;
    border-radius: 6%;
    cursor: pointer;
    z-index: 100;
}

#basic-menu ul {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    background-color: rgb(7, 7, 36);
    border: 1px solid rgb(56, 56, 79);
    
}

li.menu-item {
    font-size: 1.25rem;
    font-weight: 510;
    font-family: "Spartan", sans-serif;
    z-index: 1;
}

li.menu-item:hover {
    background-color: rgb(131, 131, 145);
    color: #fff;
}