.overview {
    height: 200px;
}

.overview p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 2rem 0;
    padding: 0;
}

.planet-title {
    font-family: "Antonio", sans-serif;
    font-size: 6rem;
    padding: 2rem;
    margin: 2rem;
}

.planet-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 14%;
    right: 50%;
    padding: 0rem;
}

.planet-image img:hover {
    transform: scale(1.1);
    transition: ease-out;
    transition-duration: 0.6s;
}

.planet-info {
    position: absolute;
    top: 20%;
    left: 65%;
    padding: 0;
    width: 500px;
}

.geology img {
    position: absolute;
    top: 56%;
    left: 30%;
    padding: 2rem;
    width: 150px;
}

#Mercury {
    padding: 5rem;
    top:  25%;
    width: 400px;
}

#Venus {
    padding: 5rem;
    top:  18%;
    width: 400px;
}

#Earth {
    padding: 5rem;
    top:  12%;
    width: 400px;
}

#Mars {
    padding: 5rem;
    top:  20%;
    width: 400px;
}

#Jupiter {
    padding: 5rem;
    top:  6%;
    width: 400px;
}

#Saturn {
    padding: 5rem;
    top:  4%;
    width: 400px;
}

#Uranus {
    padding: 5rem;
    top:  10%;
    width: 400px;
}

#Neptune {
    padding: 5rem;
    top:  10%;
    width: 400px;
}