.overview {
    height: 120px;
}

.overview p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 2rem 0;
    padding: 0;
}

.planet-title {
    font-family: "Antonio", sans-serif;
    font-size: 6rem;
    padding: 2rem;
    margin: 2rem;
}

.planet-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 14%;
    right: 50%;
    padding: 0rem;
}

.geology img:hover {
    transform: scale(1.3);
    transition: ease-out;
    transition-duration: 0.6s;
}

.planet-info {
    position: absolute;
    top: 20%;
    left: 65%;
    padding: 0;
    width: 500px;
}

.geology img {
    position: absolute;
    top: 56%;
    left: 30%;
    padding: 2rem;
    width: 150px;
}

#Mercury {
    padding: 5rem;
    top:  25%;
    width: 400px;
}

#Venus {
    padding: 5rem;
    top:  18%;
    width: 400px;
}

#Earth {
    padding: 5rem;
    top:  12%;
    width: 400px;
}

#Mars {
    padding: 5rem;
    top:  20%;
    width: 400px;
}

#Jupiter {
    padding: 5rem;
    top:  6%;
    width: 400px;
}

#Saturn {
    padding: 5rem;
    top:  4%;
    width: 400px;
}

#Uranus {
    padding: 5rem;
    top:  10%;
    width: 400px;
}

#Neptune {
    padding: 5rem;
    top:  10%;
    width: 400px;
}

.buttons #Neptune {
    padding: 0rem;
    width: 360px;
    
}

.buttons #Neptune:active {
    background-color:#2d68f0;
}

.buttons #Neptune:focus {
    background-color:#2d68f0;
}

.buttons #Mercury {
    padding: 0rem;
    width: 360px;
    
}

.buttons #Mercury:active {
    background-color:rgb(65, 158, 187);
}

.buttons #Mercury:focus {
    background-color:rgb(65, 158, 187);
}

.buttons #Venus {
    padding: 0rem;
    width: 360px;
    
}

.buttons #Venus:active {
    background-color:#EDA249;
}

.buttons #Venus:focus {
    background-color:#EDA249;
}

.buttons #Earth {
    padding: 0rem;
    width: 360px; 
}

.buttons #Earth:active {
    background-color:#6f2ed6;
}

.buttons #Earth:focus {
    background-color:#6f2ed6;
}

.buttons #Mars {
    padding: 0rem;
    width: 360px;   
}

.buttons #Mars:active {
    background-color:#D14C32;
}

.buttons #Mars:focus {
    background-color:#D14C32;
} 

.buttons #Jupiter {
    padding: 0rem;
    width: 360px;   
}

.buttons #Jupiter:active {
    background-color:#D83A34;
}

.buttons #Jupiter:focus {
    background-color:#D83A34;
}   

.buttons #Saturn {
    padding: 0rem;
    width: 360px;   
}

.buttons #Saturn:active {
    background-color:#CD5120;
}

.buttons #Saturn:focus {
    background-color:#CD5120;
}

.buttons #Uranus {
    padding: 0rem;
    width: 360px;   
}

.buttons #Uranus:active {
    background-color:#1ec2a4;
}

.buttons #Uranus:focus {
    background-color:#1ec2a4;
}
